#legendario-no{
    cursor: pointer;
}
#legendario-si{
    cursor: pointer;
}
#legendario-singular{
    cursor: pointer;
}

#evolucion-si{
    cursor: pointer;
}
#evolucion-no{
    cursor: pointer;
}
body{
    background-image: url(/img/patron1.jpg);
}